@{
    ViewBag.Title = "Speed Trap";
}

@using (Html.BeginForm("SetMaxSpeedLimit","Home"))
{
    <b style="color:green">Speed Trap</b> <span>Overspeed: </span> <form><input type="text" id="speedLimit" name="txtSpeed" value="@ViewBag.SpeedLimit"/>
    <input type="submit" value="apply" id="applyLimit" /></form>
}
<hr/>
<div id="carSpeed"></div>
@section scripts{
    <script src="/Scripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.signalR-2.1.2.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="http://localhost:19625/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
               

            $.connection.hub.url = "http://localhost:19625/signalr";

            var speedTrap = $.connection.speedTrapperHub;
            speedTrap.client.showCarOnSpeedTracker = function (name, speed, flag) {
                
                var html = "";
                if (flag == 1)
                    html = "<span><b>" + name + "</b></span></br><span style = 'color:red'>" + speed + " km</span></br></br>"
                else if (flag == 0)
                    html = "<span>" + name + "</span></br><span style = 'color:green'>" + speed + " km</span></br></br>"
                $('#carSpeed').append(html);
                //alert("updated");
            }

            $.connection.hub.start().done(function () {
                //alert("success");
                speedTrap.server.initialize().done(function () {
                    //alert("initialized");
                });
            });
        });
        </script>
    }