@{
    ViewBag.Title = "Speed Trap";
}

@using (Html.BeginForm("SetMaxSpeedLimit","Home"))
{
    <b style="color:green">Speed Trap</b> <span>Overspeed: </span> <input type="text" id="speedLimit" name="txtSpeed" value="@ViewBag.SpeedLimit"/>
    <input type="submit" value="apply" id="applyLimit" />
}
<hr/>
